---
import AboutLayout from "../layouts/AboutLayout.astro";
---

<AboutLayout>
  <h1 class="py-5 text-left text-3xl">Quienes somos?</h1>
  <p class="text-justify text-lg">
    Marca Nicaraguense, ventas mayoristas y detalle, alta gama de proveedores,
    seleccion de inventarios, tendencias, calidad, precios y variedad visita
    nuestros catalogos, tienda online envios a todos los departamentos, para que
    puedas emprender con nosotros.
  </p>
</AboutLayout>
