---
import BaseHeader from '../components/header/Header.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <BaseHeader/>
  </head>
  <div class="mx-5">
    <slot />
  </div>
</html>