---
import Footer from '../components/Footer.astro';
import BaseHeader from '../components/Header.astro'
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <BaseHeader/>
  </head>
  <body class="bg-gradient-to-r from-white from-10% via-sky-300 via-50% to-blue-300 to-90%">
    <slot />
    <Footer />
  </div>
</html>